[submodule "RocketTracker-Hw"]
	path = RocketTracker-Hw
	url = https://github.com/NifleySnifley/RocketTracker-Hw
[submodule "RocketTracker-Sw/nanopb"]
	path = RocketTracker-Sw/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "RocketTracker-Sw/tracker_firmware/lib/lwgps"]
	path = RocketTracker-Sw/tracker_firmware/lib/lwgps
	url = https://github.com/MaJerle/lwgps
